<!DOCTYPE html>
<html>
<head>  

<title>Happy Crafting</title>

</head>

<body>
  <div class="jumbotron">
    <div class="container text-center">
      <h1>About</h1>
      <div id="rcorners">
        <p>Happy Crafting is a community created with the hope to bring people who 
        share the love of crafting together. We also hope our tutorials and ideas
        are helpful to anyone who would like to get started with crafting.
        </p>
      </div>
    </div>
  </div>
</body>

</html>