<!DOCTYPE html>
<html>

<head>

<title>Happy Crafting</title>

</head>

<body>
  <div class="jumbotron">
    <div class="container text-center">
        <h1>About</h1>
        <div class="bg-info">
            <p>Happy Crafting is a community created with the hope of bringing people who love crafting together.
            Happy Crafting is a community created with the hope of bringing people who love crafting together.
            Happy Crafting is a community created with the hope of bringing people who love crafting together.
            Happy Crafting is a community created with the hope of bringing people who love crafting together.
            Happy Crafting is a community created with the hope of bringing people who love crafting together.
            Happy Crafting is a community created with the hope of bringing people who love crafting together.
            </p>
        </div>
    </div>
  </div>
</body>

</html>