
<!DOCTYPE html>
<html>
<head>
  
<link href='http://fonts.googleapis.com/css?family=Racing+Sans+One' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css"/>
<link type="text/css" rel="stylesheet" href="application.css" />

<title>Happy Crafting</title>

</head>

<body>
  <div class="jumbotron">
    <div class="container text-center">
        <h1>Contact Us</h1>
        <div class="bg-info">
            <p> Contact us by email: 123456@yahoo.com
            </p>
        </div>
    </div>
  </div>
</body>

</html>