<!DOCTYPE html>
<html>
<head>

<title>Happy Crafting</title>

</head>

<body>
  <div class="jumbotron">
    <div class="container text-center">
      <h1>Credits</h1>
      <div id="rcorners" class="text-left">
	      <ul>
	        Images:
	        <li>Background image from NaanChan, http://naanchan.deviantart.com</li>
	      </ul>  
	    </div>
    </div>
  </div>
</body>

</html>