<!DOCTYPE html>
<html>
<head>

<title>Happy Crafting</title>

</head>

<body>
  <div class="jumbotron">
    <div class="container text-center">
      <h1>Help</h1>
      <div id="rcorners" class="text-left">
      	<p>Questions/Answers</p>
      	<div>
      		<p>Q: How to see your account information?</p>
      		<p>A: After logged in, click on My Account, and select My Info from the dropdown menu</p>
      	</div>
      	<div>
      		<p>Q: How to see all the tutorials that you submitted?</p>
      		<p>A: After logged in, click on My Account, and select My Tutorials from the dropdown menu</p>
      	</div>
      	<div>
      		<p>Q: How to log out?</p>
      		<p>A: While logging in, click on My Account, and select Log out from the dropdown menu</p>
      	</div>
      </div>
    </div>
  </div>
</body>

</html>