<!DOCTYPE html>
<html>
<head>

<title>Happy Crafting</title>

</head>

<body>
  <div class="jumbotron">
    <div class="container text-center">
        <h1>Welcome to Happy Crafting!</h1>
        <div><%= image_tag("girl.png",:width => 195, :height => 200) %></div>
        <%= link_to "Join the Community", new_user_path, class: "btn btn-lg btn-primary" %>
      </div>    
    </div>
  </div>
</body>

</html>