<!DOCTYPE html>
<html>
<head>  

<title>Happy Crafting</title>

</head>

<body>
  <div class="jumbotron">
    <div class="container text-center">
    <h1>Login</h1>
      <form action="login.asp">
  			Username<br>
            <input type="text" name="username"><br>
  			Password<br>
            <input type="text" name="password"><br>
            <input type="submit" value="Log in" style="margin-top:10px;">
		  </form>   
        <p>Don't have an account yet?<br>
        <%= link_to "Create an account", new_user_path %></p>

    </div>
  </div>
</body>

</html>