/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron {
  background-image:url('https://cloud.githubusercontent.com/assets/8836789/7127010/7fd6587c-e20c-11e4-8042-60ad54722903.jpg');
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: black;
  font-size: 50px;  
  font-family: 'Abril Fatface', cursive;
  text-shadow: 4px 4px 4px #aaa;
}

.jumbotron p {
  font-size: 16px;
}

.jumbotron form {
  
  font-size: 20px;
  padding: 5%;
  min-width: 50%;
  margin-left: 20%;
  margin-right: 20%;
} 

.dropdown {
  font-size: 20px;
  color: white;
  margin-left: 30px;
  margin-right: 35px;
  margin-top: 10px;
  display: inline-block;
}

.myaccount {
  color: white;
}

.bg-top {
  background-image: url(https://cloud.githubusercontent.com/assets/8836789/7186868/aef60c30-e43a-11e4-8ad3-b6470cef0feb.png);
  background-repeat: no-repeat;
  padding-top: 50px;
  min-height: 900px;
  max-height: 900px;
  background-size: 100% auto;
  position: relative;
}

.bg-bottom {
  background-image: url(https://cloud.githubusercontent.com/assets/8836789/7186893/d6e23c1e-e43a-11e4-94af-5ab1f53007d3.png);
  background-repeat: no-repeat;
  min-height: 900px;
  max-height: 900px;
  background-size: 100% auto;
  position: relative;
}

/* round corner */

#rcorners {
  background-color: white;
  border-radius: 15px 50px;;
  border: 2px solid #8AC007;
  padding: 20px;  
  min-width:50%;
  margin-left: 20%;
  margin-right: 20%;
}

/* footer */

footer {
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* gravatar */

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}